@media (max-width: 768px) {
    .h2 {
        margin-left: 10px;
    }
}

@media (min-width: 768px) {
    .main-container {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .main-container {
        width: 720px;
    }
}

@media (min-width: 1200px) {
    .main-container {
        width: 900px;
    }
}

.main-container {
    margin-bottom: 100px;
}

.info-row {
    margin-bottom: 25px;
}

.info-box {
    border: 1px solid #ddd;
    background-image: url("../img/Strawberry.png");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: right;
    padding: 1em;
    font-size: small;
}

.treasures-table {
    margin-bottom: 0px;
}

.treasures-table img {
    max-width: 60pt;
}

.table tbody>tr>td, .table thead>tr>th {
    vertical-align: middle;
}

footer {
    position: fixed;    
    z-index: 99;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: #2d76c9;
    color: white;
}

footer table {
    margin-top: 8px;
    border-collapse: collapse;
}

footer table .result {
    font-weight: bold;
}

.delete-treasure-column button {
    padding: 0;
}
