<!DOCTYPE html>
<html ng-app="crystalCalculatorApp">

<head>
    <title>pgrobban's Crystal Calculator</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="css/ripples.min.css">

    <!-- disables zooming on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="compiled-js/app.js"></script>
</head>

<body  ng-controller="MainController">

    <div class="container main-container">

        <div class="row">
            <h2 class="h2">Crystal Calculator</h2>
        </div>

        <div class="row info-row">
            <div class="col-sm-8">
                <p>Hi there~ Strawberry Cookie is very shy, but I happen to know that she's also very smart. If you're willing
                    to be her friend, she will calculate how strong your Crystal Engine is for you.</p>

                <p>All you have to do is go through each of the tables below and tell her which treasures you have, and what
                    level they are. Any changes will automatically trigger a recalculation, and you can see the result at the bottom
                    of the screen. If you scroll down to the bottom, you will also see the top five recommended treasures
                    for you to upgrade. Neat, huh? :)</p>
                
                <p ng-if="typeof(Storage) === 'undefined'"><strong>Note: Your browser has no support for web storage.</strong> This means your data will not be saved
                when you close your browser or this tab.</p>

            </div>
            <div class="col-sm-offset-8 info-box">
                <p>v. 2.0 beta<br/>
                    <i>Last updated</i>: August 5, 2016</p>
                <p>Code by pgrobban<br/> All images and data from<br/>
                <a href="http://cookierun.wikia.com/">Cookie Run Wiki</a></p>
            </div>
        </div>

        <treasure-table ng-repeat="table in treasureTables" collection-name="{{ table.collectionName }}" 
        total-crystals="table.totalCrystals" average-crystals="table.averageCrystals">
        </treasure-table>

        <selectable-treasure-table ng-repeat="table in selectableTreasureTables" collection-name="{{ table.collectionName }}"
        total-crystals="table.totalCrystals" average-crystals="table.averageCrystals">
        </selectable-treasure-table>

        <chest-treasure-table collection-name="chestTreasures" 
        total-crystals="chestTableTotalCrystals" average-crystals="chestTableAverageCrystals">
        </chest-treasure-table>

        <recommendation-box></recommendation-box>
    </div>

    <footer>
        <result-box result="result"></result-box>
    </footer>
</body>

</html>