<td><img ng-src="{{ vm.treasure.iconUrl }}" alt=""></td>
<td>{{ vm.treasure.name }}
  <div ng-if="vm.treasure.treasureInstance.level > -1" class="hidden-xs small">
    <table class="small">
      <tr>
        <td></td>
        <td><strong>Crystals/earning:</strong></td>
        <td>{{ vm.treasure.treasureInstance.profitData.crystals }} </td>
      </tr>
      <tr>
        <td>x</td>
        <td><strong>Probability:</strong></td>
        <td>{{ vm.treasure.treasureInstance.profitData.probabilityPercent }}%</td>
      </tr>
      <tr>
        <td>=</td>
        <td><strong>Average earnings/day:</strong></td>
        <td>{{ vm.treasure.treasureInstance.profitData.currentProfit | round }} </td>
      </tr>
    </table>
  </div>
</td>
<td> 
  <select ng-model="vm.treasure.treasureInstance.level" class="form-control"  
    ng-options="lvl.value as lvl.name for lvl in levelOptions"
    ng-change="vm.levelChanged()">
  </select>
</td>
<td ng-if="vm.deletable" class="delete-treasure-column">
  <button class="btn glyphicon glyphicon-trash btn-danger" alt="Delete treasure row" ng-click="vm.delete()"></button>
</td>

