<div class="recommendation-box">
  <p>Recommended treasures to upgrade:</p>
  <div ng-repeat="treasure in vm.recommendations | limitTo: 3" class="col-xs-4">
    <div class="row row-no-padding">
      <div class="col-xs-5">
        <img class="tiny-img" src="{{ treasure.iconUrl }}"/>
      </div>
      <div class="col-xs-7">
        Lv. {{ treasure.level }} &rarr; {{ treasure.level + 1 }}<br/>
        <img src="img/crystal.png" />/day:<br/>
         {{ treasure.profitData.currentProfit | round }} &rarr; <span class="large">{{ treasure.profitData.profitWhenUpgraded | round }}</span>
      </div>
    </div>
  </div>
</div>
